<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header>

        <div class="container">

            <p class="logo">DigitalHouse</p>

            <nav>

                <a href="/">Home</a>
                <a href="/views/babbage">Babbage</a>
                <a href="/views/berners-lee">Berners-lee</a>
                <a href="/views/clarke">Clarke</a>
                <a href="/views/hamilton">Hamilton</a>
                <a href="/views/hopper">Hopper</a>
                <a href="/views/lovelace">Lovelace</a>
                <a href="/views/turing">Turing</a>

            </nav>
        </div>
    </header>

    <section id="hero" class="heroClarke">

        <h1><br>Clarke</h1>
        <h3>Joan Clarke fue una matemática y criptoanalista que trabajó en el equipo liderado por Turing para descifrar el código Enigma.</h3>

    </section>

</body>
</html>